<div class="container" *ngIf="(countryData$ | async) as countryData">
    <h2>
        {{countryData[0].flag}}
        <span>{{ countryData[0].name.common }}</span>
    </h2>
    <table>
        <th>
            <span>Capital: </span>
            <span>{{ countryData[0].capital }}</span>
        </th>
        <th>
            <span>Population: </span>
            <span>{{ countryData[0].population }}</span>
        </th>
        <th>
            <span>Area: </span>
            <span>{{ countryData[0].area }}</span>
        </th>
    </table>
</div>