@import '/src/assets/variables/breakpoints.scss';

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: calc(100vh - 100px);
    color:white;
    text-shadow: 1px 1px 5px black;
    padding: 80px 0;
    overflow-x: hidden;

    @media (max-width: $desktop) {
        width: 80vw;
    }
}

table {
    font-size: 20px;
    text-align: left;
    margin: 40px;
}

th {
    display: block;
    font-weight: normal;
    padding: 20px;
}